body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.container{
    max-width: 600px;
    background-color: rgb(218, 213, 213);
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
h1{
    text-align: center;
}
#todo_input {
    width: 70%;
    font-size: 16px; 
    color: #333; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    margin-right: 5px;
    margin-left: 30px;
}

#todo_input::placeholder {
    color: #aaa; 
    font-style: italic; 
}
button{
    padding: 12px;
    background-color: rgb(9, 172, 9);
    border: 2px solid #ccc; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 350ms;
    
}
button:hover{
    transform: scale(1.05);
}
#todo_list{
    list-style-type: none;
}
#todo_list li{
    display: flex;
    justify-content: space-between;
}
.delete_btn {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: transform 450ms;
}
.delete_btn:hover{
    transform: scale(1.08);
}